[submodule "pyusb-keyboard-alike"]
	path = pyusb-keyboard-alike/
	url = https://github.com/riklaunim/pyusb-keyboard-alike
[submodule "keyboard-alike"]
	path = keyboard-alike
	url = https://github.com/riklaunim/pyusb-keyboard-alike
